*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}

body{
    background-color: #f7f9fd;
}

.wrapper{
    width: 90%;
    font-size: 16px;
    max-width: 43.753m;
    margin: 1em auto;
}

.container{
    width: 100%;
}

.sub-container{
    width: 100%;
     display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}

.flex{
    display: flex;
    align-items: center;
}
.output-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-amount-container h3{
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}
.container input{
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    font-weight: 400;
    margin-bottom: 0.6em;
}
.total-amount-container, .user-amount-container{
    background: #fff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}

.output-container{
    background: #587ef4;
    color: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}

.output-container p{
    font-weight: 500;
    margin-bottom: 0.6;
}

.output-container span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}

.submit{
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.list{
    background-color: #fff;
    padding: 1.8em 1.1em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
}.sublist-container{
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-top: 0.6em;
    padding: 0.5em;
    display: grid;
    grid-template: 3fr 2fr 1fr 1fr;
}

.product{
    font-weight: 500;
    color: #363d55;
}

.amount{
    color: #414a67;
    margin-left: 20%;
}

.icons-container{
    width: 5em;
    margin: 1.2em;
    align-items: center;
}

.product-title{
    margin-bottom: 1em;

}

  .hide{
    display: none;
  }

  .error{
    color: #ff465a;
  }

  .edit{
    margin-left: auto;
  }

  .edit, .delete{
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #587ef4;
  }
